In [178]:
import numpy as np
import pandas as pd

In [269]:
movies = pd.read_csv('/content/Movies Dataset.csv')
movies.head(2)

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,385687,Fast X,Action-Crime-Thriller,en,Over many missions and against impossible odds...,6682.100,Universal Pictures-Original Film-One Race-Perf...,2023-05-17,340000000.0,686700000.0,142.0,Released,The end of the road begins.,7.331,1856.0,Vin Diesel-Michelle Rodriguez-Tyrese Gibson-Lu...,sequel-revenge-racing-family-cars,/fiVW06jE7z9YnO4trhaMEdclSiC.jpg,/4XM8DUTQb3lhLemJC51Jx4a2EuA.jpg,19603-445954-697843-603692-781009-502356-74735...
1,758323,The Pope's Exorcist,Horror-Mystery-Thriller,en,Father Gabriele Amorth Chief Exorcist of the V...,5953.227,Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...,2023-04-05,18000000.0,65675816.0,103.0,Released,Inspired by the actual files of Father Gabriel...,7.433,545.0,Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...,spain-rome italy-vatican-pope-pig-possession-c...,/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg,/hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg,713704-296271-502356-1076605-1084225-1008005-9...

In [270]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722796 entries, 0 to 722795
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    722796 non-null  int64
 1   title                 722790 non-null  object
 2   genres                511934 non-null  object
 3   original_language     722796 non-null  object
 4   overview              604198 non-null  object
 5   popularity            722796 non-null  float64
 6   production_companies  337170 non-null  object
 7   release_date          670329 non-null  object
 8   budget                722796 non-null  float64
 9   revenue               722796 non-null  float64
 10  runtime               688346 non-null  float64
 11  status                722796 non-null  object
 12  tagline               108098 non-null  object
 13  vote_average          722796 non-null  float64
 14  vote_count            722796 non-null  float64
 15  credits               497689 non-null  object
 16  keywords              210271 non-null  object
 17  poster_path           537566 non-null  object
 18  backdrop_path         222524 non-null  object
 19  recommendations       34720 non-null   object
dtypes: float64(6), int64(1), object(13)
memory usage: 110.3+ MB

In [271]:
movies.drop(columns=["production_companies"	,"overview" , "tagline" , "credits" , "keywords" , "poster_path" , "backdrop_path" , "recommendations"] ,axis =1 , inplace = True )

In [272]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722796 entries, 0 to 722795
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 722796 non-null  int64
 1   title              722790 non-null  object
 2   genres             511934 non-null  object
 3   original_language  722796 non-null  object
 4   popularity         722796 non-null  float64
 5   release_date       670329 non-null  object
 6   budget             722796 non-null  float64
 7   revenue            722796 non-null  float64
 8   runtime            688346 non-null  float64
 9   status             722796 non-null  object
 10  vote_average       722796 non-null  float64
 11  vote_count         722796 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 66.2+ MB

In [273]:
movies.isna().sum()

id                        0
title                     6
genres               210862
original_language         0
popularity                0
release_date          52467
budget                    0
revenue                   0
runtime               34450
status                    0
vote_average              0
vote_count                0
dtype: int64

In [274]:
movies.dropna(inplace=True)

In [275]:
movies.isna().sum()

id                   0
title                0
genres               0
original_language    0
popularity           0
release_date         0
budget               0
revenue              0
runtime              0
status               0
vote_average         0
vote_count           0
dtype: int64

In [276]:
movies.duplicated().sum()

47

In [277]:
movies.drop_duplicates(inplace=True)

In [278]:
movies["release_date"]=pd.to_datetime(movies['release_date'])

In [279]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 482842 entries, 0 to 722792
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 482842 non-null  int64
 1   title              482842 non-null  object
 2   genres             482842 non-null  object
 3   original_language  482842 non-null  object
 4   popularity         482842 non-null  float64
 5   release_date       482842 non-null  datetime64[ns]
 6   budget             482842 non-null  float64
 7   revenue            482842 non-null  float64
 8   runtime            482842 non-null  float64
 9   status             482842 non-null  object
 10  vote_average       482842 non-null  float64
 11  vote_count         482842 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(4)
memory usage: 47.9+ MB

In [280]:
movies.duplicated().sum()

0

In [281]:
movies["genres"].value_counts()

genres
Documentary                                    88564
Drama                                          74425
Comedy                                         43457
Animation                                      21423
Music                                          16394
                                               ...
Family-Science Fiction-TV Movie-Comedy             1
Adventure-Comedy-Family-Fantasy-Animation          1
Drama-Science Fiction-Thriller-Action-Crime        1
Fantasy-Horror-Comedy-Romance                      1
Science Fiction-Mystery-Drama-Thriller             1
Name: count, Length: 10808, dtype: int64

In [282]:
def extract_first_genre(genres_str):

    if pd.isna(genres_str) or genres_str == '':
        return None
    elif '-' in genres_str:
        return genres_str.split('-')[0]
    else:
        return genres_str

movies['genres'] = movies['genres'].apply(extract_first_genre)

In [283]:
movies["genres"].value_counts()

genres
Drama              118591
Documentary        102490
Comedy              74339
Animation           33841
Action              22740
Horror              22496
Music               22267
Romance             13749
Thriller            13069
Crime               11680
Family               7842
Adventure            7442
Science Fiction      6327
Western              5532
Fantasy              5065
TV Movie             4665
Mystery              4440
History              3243
War                  3024
Name: count, dtype: int64

In [284]:
movies["title"].value_counts()

title
Home                   70
Alone                  57
Carmen                 52
A Christmas Carol      47
The Return             46
                       ..
Ariel Deluxe            1
青春荷尔蒙                   1
L.A. AIDS Jabber        1
Tokyo Shutter Girl      1
Hollywood Varieties     1
Name: count, Length: 381837, dtype: int64

In [285]:
movies.drop_duplicates(subset=['title'], inplace=True)
movies["title"].value_counts()

title
Fast X                                 1
British Treasures From The Air         1
Worm-cosmonaut                         1
Why I Should Die Alone (1,489 Days)    1
Adeus Paissandu                        1
                                      ..
Nature Boys                            1
Kasym                                  1
I Am Neda                              1
Turnover Smith                         1
Hollywood Varieties                    1
Name: count, Length: 381837, dtype: int64

In [289]:
index_to_drop = movies[movies['runtime'] == 0].index
movies.drop(index_to_drop, inplace=True)

In [290]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321976 entries, 0 to 722792
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 321976 non-null  int64
 1   title              321976 non-null  object
 2   genres             321976 non-null  object
 3   original_language  321976 non-null  object
 4   popularity         321976 non-null  float64
 5   release_date       321976 non-null  datetime64[ns]
 6   budget             321976 non-null  float64
 7   revenue            321976 non-null  float64
 8   runtime            321976 non-null  float64
 9   status             321976 non-null  object
 10  vote_average       321976 non-null  float64
 11  vote_count         321976 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(4)
memory usage: 31.9+ MB

In [291]:
movies.describe()

,id,popularity,release_date,budget,revenue,runtime,vote_average,vote_count
count,321976.000000,321976.000000,321976,3.219760e+05,3.219760e+05,321976.000000,321976.000000,321976.000000
mean,466470.367770,2.850691,1996-10-10 08:02:15.423758464,7.907112e+05,2.079750e+06,71.378668,3.316190,58.467684
min,2.000000,0.600000,1874-12-09 00:00:00,0.000000e+00,0.000000e+00,1.000000,0.000000,0.000000
25%,257241.750000,0.600000,1983-01-21 00:00:00,0.000000e+00,0.000000e+00,30.000000,0.000000,0.000000
50%,455118.500000,0.871000,2008-08-30 00:00:00,0.000000e+00,0.000000e+00,81.000000,4.000000,1.000000
75%,686012.500000,1.831000,2017-05-29 00:00:00,0.000000e+00,0.000000e+00,96.000000,6.200000,5.000000
max,968155.000000,6682.100000,2025-10-28 00:00:00,5.000000e+08,2.920357e+09,51420.000000,10.000000,33262.000000
std,269039.104399,27.774814,NaN,7.878712e+06,2.922715e+07,111.165950,3.243327,565.946896

In [292]:
movies.describe(include = 'object')

         title  genres original_language    status
count   321976  321976            321976    321976
unique  321976      19               154         5
top     Fast X   Drama                en  Released
freq         1   75236            171243    321920

In [295]:
#the average runtime of all movies
average_runtime = np.mean(movies['runtime']).round(0)
print(f"Average runtime: {average_runtime} minutes")

Average runtime: 71.0 minutes

In [296]:
#the highest budget for a movie
highest_budget = movies['budget'].max()
highest_budget

500000000.0

In [302]:
 #movies were released in each year
movies['release_year'] = movies['release_date'].dt.year
yearly_counts = movies['release_year'].value_counts().sort_values(ascending=False).head(10)
yearly_counts

release_year
2019    16725
2021    16331
2020    16251
2018    14907
2017    14135
2016    12429
2015    11782
2014    10947
2013    10030
2012     8326
Name: count, dtype: int64

In [298]:
#the total revenue generated by all movies
total_revenue = movies['revenue'].sum()
total_revenue

669629559049.0

In [299]:
#the median popularity score of movies
median_popularity = movies['popularity'].median()
median_popularity

0.871

In [300]:
#the most frequent genre of movies
genre_counts = movies['genres'].value_counts()
genre_counts

genres
Drama              75236
Documentary        71936
Comedy             49039
Animation          23977
Action             16313
Horror             15212
Music              13252
Romance             9064
Thriller            8053
Crime               7817
Adventure           5235
Family              4982
Science Fiction     4427
Western             3811
Fantasy             3439
TV Movie            2967
Mystery             2890
History             2267
War                 2059
Name: count, dtype: int64

In [303]:
#the average vote average of all movies
average_vote_average = np.mean(movies['vote_average'])
average_vote_average

3.316189790543394

In [304]:
#the release year of the oldest movie
oldest_movie_year = movies['release_date'].min()
oldest_movie_year.date()

datetime.date(1874, 12, 9)

In [305]:
#numbers of movies have a vote average greater than 8
high_vote_average_count = movies[movies['vote_average'] > 8]['vote_average'].count()
high_vote_average_count

13700

In [306]:
#the title of the movie with the longest runtime
longest_runtime_movie = movies.loc[movies['runtime'].idxmax(), 'title']
longest_runtime_movie

'Logistics'

In [307]:
#the title of the movie with the smallest runtime
smallest_runtime_movie = movies.loc[movies['runtime'].idxmin(), 'title']
smallest_runtime_movie

'Trail Blazers'

In [308]:
# the average runtime of movies grouped by genre
average_runtime_by_genre = movies.groupby('genres')['runtime'].mean().sort_values(ascending=False)
average_runtime_by_genre

genres
Action             99.513333
History            91.564182
War                89.154444
Romance            88.428839
Crime              88.065242
Adventure          87.491309
TV Movie           86.794742
Thriller           86.379734
Music              85.233776
Drama              80.652866
Mystery            77.772318
Family             75.662385
Comedy             74.621505
Horror             68.298054
Western            68.226975
Fantasy            62.276825
Science Fiction    61.599503
Documentary        59.373652
Animation          22.984694
Name: runtime, dtype: float64

In [309]:
#the top 10 highest-grossing movies (revenue - budget)
movies['profit'] = movies['revenue'] - movies['budget']
top_5_highest_grossing = movies[['title', 'profit']].sort_values('profit', ascending=False).head(10)
top_5_highest_grossing

                            title        profit
111                        Avatar  2.683357e+09
187             Avengers: Endgame  2.443439e+09
243                       Titanic  1.987464e+09
22       Avatar: The Way of Water  1.860250e+09
946  Star Wars: The Force Awakens  1.823224e+09
102        Avengers: Infinity War  1.746240e+09
119       Spider-Man: No Way Home  1.721847e+09
464                Jurassic World  1.521537e+09
367                     Furious 7  1.325341e+09
75              Top Gun: Maverick  1.318733e+09

In [310]:
#genre has the highest sum popularity score
genre_popularity = movies.groupby('genres')['popularity'].sum().sort_values(ascending=False).head(5)
genre_popularity

genres
Drama          181219.060
Comedy         135221.164
Action         124172.215
Documentary     81946.206
Horror          76934.336
Name: popularity, dtype: float64

In [311]:
#genre has the highest sum vote count
genre_vote_count = movies.groupby('genres')['vote_count'].sum().sort_values(ascending=False)
genre_vote_count

genres
Drama              3579102.0
Action             3405666.0
Comedy             2939713.0
Adventure          1812569.0
Horror             1213659.0
Animation          1071505.0
Crime               795476.0
Science Fiction     761157.0
Thriller            755379.0
Fantasy             606964.0
Romance             469892.0
Family              446499.0
Documentary         251384.0
Mystery             224988.0
War                 140852.0
Music               118556.0
Western             115391.0
History              80100.0
TV Movie             36339.0
Name: vote_count, dtype: float64

In [312]:
#language has the highest popularity score for movies
language_popularity = movies.groupby('original_language')['popularity'].sum().sort_values(ascending=False)
language_popularity

original_language
en    595570.301
ja     52266.528
es     44449.719
fr     39642.708
ko     22632.083
         ...
ie         0.600
ts         0.600
tn         0.600
om         0.600
gv         0.600
Name: popularity, Length: 154, dtype: float64

In [313]:
#the total revenue generated by movies in each genre
total_revenue_by_genre = movies.groupby('genres')['revenue'].sum().sort_values(ascending=False)
total_revenue_by_genre

genres
Action             1.608286e+11
Comedy             9.844181e+10
Adventure          9.503844e+10
Drama              8.606345e+10
Animation          5.172668e+10
Science Fiction    2.802200e+10
Fantasy            2.602957e+10
Horror             2.581253e+10
Family             2.358412e+10
Thriller           1.971486e+10
Crime              1.811382e+10
Romance            1.241334e+10
War                6.226161e+09
Mystery            5.614230e+09
Music              4.952644e+09
History            2.703213e+09
Documentary        2.173867e+09
Western            2.113382e+09
TV Movie           5.686122e+07
Name: revenue, dtype: float64

In [314]:
#top 10 movies with the highest budget
top_10_budget_movies = movies.sort_values('budget', ascending=False).head(10)[['title', "budget"]]
top_10_budget_movies

                                             title       budget
97533                                         DeAD  500000000.0
22                        Avatar: The Way of Water  460000000.0
314    Pirates of the Caribbean: On Stranger Tides  380000000.0
255                        Avengers: Age of Ultron  365000000.0
187                              Avengers: Endgame  356000000.0
0                                           Fast X  340000000.0
48391                 Mega Man X: The Day of Sigma  300000000.0
301       Pirates of the Caribbean: At World's End  300000000.0
102                         Avengers: Infinity War  300000000.0
756                                 Justice League  300000000.0

In [316]:
#the average budget for movies released in each year
avg_budget_by_year = movies.groupby('release_year')[['budget']].mean().sort_values('budget', ascending=False)
avg_budget_by_year

                    budget
release_year
2024          6.431988e+06
2023          6.054900e+06
2025          2.501000e+06
1999          2.193528e+06
2000          1.996356e+06
...                    ...
1910          0.000000e+00
1911          0.000000e+00
1913          0.000000e+00
1918          0.000000e+00
1874          0.000000e+00

[144 rows x 1 columns]

In [317]:
#the movies with a vote average greater than 8 and a budget over $100 million
movies_high_rated_high_budget = movies[(movies['vote_average'] > 8) & (movies['budget'] > 100000000)][['title' , 'revenue']]
movies_high_rated_high_budget

                                              title       revenue
26                   Guardians of the Galaxy Vol. 3  8.218010e+08
75                                Top Gun: Maverick  1.488733e+09
102                          Avengers: Infinity War  2.046240e+09
184    Harry Potter and the Deathly Hallows: Part 2  1.341511e+09
187                               Avengers: Endgame  2.799439e+09
213        Harry Potter and the Prisoner of Azkaban  7.898046e+08
283                                    Interstellar  7.017292e+08
293                                            Coco  8.005260e+08
423                                         Cruella  2.335032e+08
465                                 The Dark Knight  1.004558e+09
503                                            Soul  1.363844e+08
621                                          WALL·E  5.213119e+08
699                                       Inception  8.255328e+08
783                      Terminator 2: Judgment Day  5.200000e+08
1168                                      Gladiator  4.653612e+08
16435                                 Kira & El Gin  0.000000e+00
33357        X-Men: Days of Future Past - Rogue Cut  7.460000e+08

In [318]:
#the median budget for movies in each original language
sum_budget_by_language = movies.groupby('original_language')[['budget' , "revenue"]].sum().sort_values("budget",ascending=False).head(10)
sum_budget_by_language

                         budget       revenue
original_language
en                 2.298473e+11  6.115681e+11
fr                 5.407750e+09  5.910717e+09
zh                 3.287691e+09  1.565048e+10
hi                 2.666765e+09  5.630688e+09
ja                 2.013281e+09  1.085961e+10
ru                 1.502754e+09  1.526745e+09
es                 1.360212e+09  2.212439e+09
ko                 1.091787e+09  4.305142e+09
cn                 9.956193e+08  2.490857e+09
it                 8.429800e+08  1.896719e+09

In [319]:
movies.to_csv('movies_updated.csv', index=False)