In [204]:
import numpy as np
import pandas as pd

In [205]:
movies = pd.read_csv('/content/Movies Dataset.csv')
movies.head(2)

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,1,Fast X,Action-Crime-Thriller,en,Over many missions and against impossible odds...,6682.100,Universal Pictures-Original Film-One Race-Perf...,5/17/2023,340000000,686700000,142.0,Released,The end of the road begins.,7.331,1856,Vin Diesel-Michelle Rodriguez-Tyrese Gibson-Lu...,sequel-revenge-racing-family-cars,/fiVW06jE7z9YnO4trhaMEdclSiC.jpg,/4XM8DUTQb3lhLemJC51Jx4a2EuA.jpg,19603-445954-697843-603692-781009-502356-74735...
1,2,The Pope's Exorcist,Horror-Mystery-Thriller,en,Father Gabriele Amorth Chief Exorcist of the V...,5953.227,Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...,4/5/2023,18000000,65675816,103.0,Released,Inspired by the actual files of Father Gabriel...,7.433,545,Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...,spain-rome italy-vatican-pope-pig-possession-c...,/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg,/hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg,713704-296271-502356-1076605-1084225-1008005-9...

In [206]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    99999 non-null  int64
 1   title                 99999 non-null  object
 2   genres                96002 non-null  object
 3   original_language     99999 non-null  object
 4   overview              97278 non-null  object
 5   popularity            99999 non-null  float64
 6   production_companies  80327 non-null  object
 7   release_date          99526 non-null  object
 8   budget                99999 non-null  int64
 9   revenue               99999 non-null  int64
 10  runtime               99494 non-null  float64
 11  status                99999 non-null  object
 12  tagline               41274 non-null  object
 13  vote_average          99999 non-null  float64
 14  vote_count            99999 non-null  int64
 15  credits               95762 non-null  object
 16  keywords              62991 non-null  object
 17  poster_path           97760 non-null  object
 18  backdrop_path         80062 non-null  object
 19  recommendations       30985 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 15.3+ MB

## **data cleaning**

In [207]:
movies.drop(columns=["production_companies"	,"overview" , "tagline" , "keywords" , "poster_path" , "backdrop_path" , "recommendations"] ,axis =1 , inplace = True )

In [208]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 99999 non-null  int64
 1   title              99999 non-null  object
 2   genres             96002 non-null  object
 3   original_language  99999 non-null  object
 4   popularity         99999 non-null  float64
 5   release_date       99526 non-null  object
 6   budget             99999 non-null  int64
 7   revenue            99999 non-null  int64
 8   runtime            99494 non-null  float64
 9   status             99999 non-null  object
 10  vote_average       99999 non-null  float64
 11  vote_count         99999 non-null  int64
 12  credits            95762 non-null  object
dtypes: float64(3), int64(4), object(6)
memory usage: 9.9+ MB

In [209]:
movies.isna().sum()

id                      0
title                   0
genres               3997
original_language       0
popularity              0
release_date          473
budget                  0
revenue                 0
runtime               505
status                  0
vote_average            0
vote_count              0
credits              4237
dtype: int64

In [210]:
movies.dropna(inplace=True)

In [211]:
movies.isna().sum()

id                   0
title                0
genres               0
original_language    0
popularity           0
release_date         0
budget               0
revenue              0
runtime              0
status               0
vote_average         0
vote_count           0
credits              0
dtype: int64

In [212]:
movies.duplicated().sum()

0

In [213]:
movies.drop_duplicates(inplace=True)

# change release_date data type

In [214]:
movies["release_date"] = pd.to_datetime(movies['release_date'], format="%d/%m/%Y", errors='coerce')

In [215]:
movies.dropna(subset=['release_date'], inplace=True)

In [216]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39379 entries, 1 to 99997
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 39379 non-null  int64
 1   title              39379 non-null  object
 2   genres             39379 non-null  object
 3   original_language  39379 non-null  object
 4   popularity         39379 non-null  float64
 5   release_date       39379 non-null  datetime64[ns]
 6   budget             39379 non-null  int64
 7   revenue            39379 non-null  int64
 8   runtime            39379 non-null  float64
 9   status             39379 non-null  object
 10  vote_average       39379 non-null  float64
 11  vote_count         39379 non-null  int64
 12  credits            39379 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(4), object(5)
memory usage: 4.2+ MB

In [217]:
movies.isna().sum()

id                   0
title                0
genres               0
original_language    0
popularity           0
release_date         0
budget               0
revenue              0
runtime              0
status               0
vote_average         0
vote_count           0
credits              0
dtype: int64

In [218]:
movies.duplicated().sum()

0

# handling problems in specific columns

In [219]:
movies["genres"].value_counts()

genres
Drama                                 3875
Comedy                                3114
Documentary                           2648
Horror                                1283
Drama-Romance                         1023
                                      ...
Comedy-Family-Horror                     1
Comedy-Music-Adventure                   1
Action-Adventure-Animation-History       1
Comedy-Drama-Fantasy-Music               1
Animation-TV Movie-Comedy                1
Name: count, Length: 3830, dtype: int64

In [220]:
def extract_first_genre(genres_str):

    if pd.isna(genres_str) or genres_str == '':
        return None
    elif '-' in genres_str:
        return genres_str.split('-')[0]
    else:
        return genres_str

movies['genres'] = movies['genres'].apply(extract_first_genre)

In [221]:
movies["genres"].value_counts()

genres
Drama              9290
Comedy             7306
Action             3696
Documentary        3479
Horror             3126
Thriller           2069
Romance            1520
Animation          1500
Crime              1425
Adventure          1002
Family              813
Science Fiction     797
Music               793
TV Movie            672
Fantasy             505
Mystery             456
Western             385
War                 299
History             246
Name: count, dtype: int64

In [222]:
movies["credits"].value_counts()

credits
Mel Blanc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       28
Clarence Nash                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   16
Georges Mlis                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  12
Louis Theroux                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   11
James Hetfield-Lars Ulrich-Kirk Hammett-Robert Trujillo                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         10
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
Zelda Rubinstein-Michael Lerner-Talia Paul-ngel Jov-Clara Pastor-Isabel Garca Lorca-Vicente Gil-Vctor Guilln-Craig Hill-Benito Pocino-Jaume Figueras                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Oliko Barbakadze-Giorgi Ambroladze-Ani Karseladze-Giorgi Bochorishvili-Sofio Chanishvili-Vakhtang Panchulidze-Irina Chelidze-Sofio Sharashidze-David Koberidze                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
David McCullough-Kevin Bacon-Jack Black-Tucker Carlson-Common-Bryan Cranston-Anderson Cooper-Robert De Niro-Laura Dern-Robert Duvall-America Ferrera-Morgan Freeman-Sean Hannity-Neil Patrick Harris-Samuel L. Jackson-Dwayne Johnson-Caitlyn Jenner-Toby Keith-Megyn Kelly-Julia Louis-Dreyfus-Yo-Yo Ma-Peggy Noonan-Rosie O'Donnell-Robert Redford-Kid Rock-Meryl Streep-Vince Vaughn-Kerry Washington-Fareed Zakaria-Joe Biden-George H.W. Bush-George W. Bush-Jimmy Carter-Dick Cheney-Bill Clinton-Hillary Clinton-Al Franken-Al Gore-Nikki Haley-Kamala Harris-John Kerry-Henry Kissinger-John Lewis-Ed Markey-John McCain-Mitch McConnell-Barack Obama-Nancy Pelosi-Mike Pence-Colin Powell-Dan Quayle-Donald Rumsfeld-Paul Ryan-Eric Swalwell-Donald Trump-Elizabeth Warren-Maxine Waters-Angus King     1
Kim Kkob-bi-Yeon Je-wook-Tsukasa Aoi-Ryotaro Yonemura-Koji Shiraishi-Park Jung-yoon                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
Win Morisaki-Kaho Tsuchimura-Shohei Uno-Kei Ishibashi-Akari Fukunaga-Shgo Oshinari-Yukiya Kitamura                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
Name: count, Length: 35627, dtype: int64

In [223]:
def extract_first_credits(credits_str):

    if pd.isna(credits_str) or credits_str == '':
        return None
    elif '-' in credits_str:
        return credits_str.split('-')[0]
    else:
        return credits_str

movies['credits'] = movies['credits'].apply(extract_first_credits)

In [224]:
movies["credits"].value_counts()

credits
Jean                110
Mel Blanc            68
Clarence Nash        45
Amitabh Bachchan     41
Mohanlal             38
                   ...
Joe Flaherty          1
Elizabeth Fink        1
Takanori Jinnai       1
Miranda Tapsell       1
Win Morisaki          1
Name: count, Length: 19839, dtype: int64

In [225]:
movies["title"].value_counts()

title
A Christmas Carol                                  12
The Stranger                                        8
Beauty and the Beast                                7
Mother                                              7
The River                                           7
                                                   ..
Lupin the Third: Operation: Return the Treasure     1
Hey There, It's Yogi Bear                           1
Possibly in Michigan                                1
Into the Darkness                                   1
Richie                                              1
Name: count, Length: 34321, dtype: int64

In [226]:
movies.drop_duplicates(subset=['title'], inplace=True)
movies["title"].value_counts()

title
The Pope's Exorcist                                 1
Menorca                                             1
White Fang to the Rescue                            1
Pacific Liner                                       1
Praise to the Man                                   1
                                                   ..
The Legacy                                          1
Garage Sale Mysteries: The Pandora's Box Murders    1
Django Kill... If You Live, Shoot!                  1
Neuilly Yo Mama!                                    1
Richie                                              1
Name: count, Length: 34321, dtype: int64

In [227]:
index_to_drop = movies[movies['runtime'] == 0].index
movies.drop(index_to_drop, inplace=True)

In [228]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33259 entries, 1 to 99992
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 33259 non-null  int64
 1   title              33259 non-null  object
 2   genres             33259 non-null  object
 3   original_language  33259 non-null  object
 4   popularity         33259 non-null  float64
 5   release_date       33259 non-null  datetime64[ns]
 6   budget             33259 non-null  int64
 7   revenue            33259 non-null  int64
 8   runtime            33259 non-null  float64
 9   status             33259 non-null  object
 10  vote_average       33259 non-null  float64
 11  vote_count         33259 non-null  int64
 12  credits            33259 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(4), object(5)
memory usage: 3.6+ MB

# **data analysis**

In [229]:
movies.describe()

,id,popularity,release_date,budget,revenue,runtime,vote_average,vote_count
count,33259.000000,33259.000000,33259,3.325900e+04,3.325900e+04,33259.000000,33259.000000,33259.000000
mean,47546.942542,9.018617,2001-10-18 16:43:49.832526336,2.966925e+06,7.363750e+06,95.329896,5.737612,213.411588
min,2.000000,1.952000,1900-01-01 00:00:00,0.000000e+00,0.000000e+00,1.000000,0.000000,0.000000
25%,22784.500000,2.656000,1993-01-01 00:00:00,0.000000e+00,0.000000e+00,85.000000,5.200000,7.000000
50%,46257.000000,3.966000,2009-06-08 00:00:00,0.000000e+00,0.000000e+00,93.000000,6.100000,20.000000
75%,71561.000000,7.524000,2017-05-05 00:00:00,0.000000e+00,0.000000e+00,105.000000,6.800000,65.000000
max,99993.000000,5953.227000,2025-02-02 00:00:00,5.000000e+08,1.671537e+09,840.000000,10.000000,30708.000000
std,28628.960057,59.633387,NaN,1.473410e+07,5.040432e+07,31.935984,1.810044,1006.931377

In [230]:
movies.describe(include = 'object')

                      title genres original_language    status credits
count                 33259  33259             33259     33259   33259
unique                33259     19                83         3   18544
top     The Pope's Exorcist  Drama                en  Released    Jean
freq                      1   7900             21637     33246      97

In [231]:
#the average runtime of all movies
average_runtime = np.mean(movies['runtime']).round(0)
print(f"Average runtime: {average_runtime} minutes")

Average runtime: 95.0 minutes

In [232]:
#the highest budget for a movie
highest_budget = movies['budget'].max()
highest_budget

500000000

In [233]:
 #movies were released in each year(top 10 years)
movies['release_year'] = movies['release_date'].dt.year
yearly_counts = movies.groupby('release_year')['title'].count().sort_values(ascending=False).head(10)
yearly_counts

release_year
2019    1617
2018    1512
2021    1508
2017    1469
2020    1396
2016    1372
2015    1168
2022    1163
2014    1107
2013    1028
Name: title, dtype: int64

In [234]:
#the total revenue generated by all movies
total_revenue = movies['revenue'].sum()
total_revenue

244910971488

In [235]:
#the median popularity score of movies
median_popularity = movies['popularity'].median()
median_popularity

3.966

In [236]:
#the most frequent genre of movies
genre_counts = movies['genres'].value_counts()
genre_counts

genres
Drama              7900
Comedy             6236
Action             3221
Documentary        2698
Horror             2611
Thriller           1645
Animation          1350
Romance            1306
Crime              1229
Adventure           892
Family              697
Science Fiction     676
Music               577
TV Movie            570
Fantasy             429
Mystery             389
Western             353
War                 269
History             211
Name: count, dtype: int64

In [237]:
#the average vote average of all movies
average_vote_average = np.mean(movies['vote_average'])
average_vote_average

5.737611804323641

In [238]:
#the release year of the oldest movie
oldest_movie_year = movies['release_date'].min()
oldest_movie_year.date()

datetime.date(1900, 1, 1)

In [239]:
#numbers of movies have a vote average greater than 8
high_vote_average_count = movies[movies['vote_average'] > 8]['vote_average'].count()
high_vote_average_count

1034

In [240]:
#the title of the movie with the longest runtime
longest_runtime_movie = movies.loc[movies['runtime'].idxmax(), 'title']
longest_runtime_movie

'The Reality of Me'

In [241]:
#the title of the movie with the smallest runtime
smallest_runtime_movie = movies.loc[movies['runtime'].idxmin(), 'title']
smallest_runtime_movie

'Quick Brown Fox and a Lazy Big Dog'

In [242]:
# the average runtime of movies grouped by genre
average_runtime_by_genre = movies.groupby('genres')['runtime'].mean().sort_values(ascending=False).round(2)
average_runtime_by_genre

genres
History            114.61
Music              108.20
War                106.90
Action             105.11
Drama              102.76
Crime              100.71
Romance             97.76
Adventure           97.59
Thriller            96.81
Mystery             95.05
Fantasy             94.50
Western             93.06
Comedy              93.01
TV Movie            90.57
Science Fiction     89.35
Horror              88.70
Family              87.45
Documentary         86.42
Animation           58.55
Name: runtime, dtype: float64

In [243]:
#the top 10 highest-grossing movies (revenue - budget)
movies['profit'] = movies['revenue'] - movies['budget']
top_5_highest_grossing = movies[['title', 'profit']].sort_values('profit', ascending=False).head(10)
top_5_highest_grossing

                                              title      profit
464                                  Jurassic World  1521537444
337                                   The Lion King  1403075401
367                                       Furious 7  1325341399
184    Harry Potter and the Deathly Hallows: Part 2  1216511219
4                       The Super Mario Bros. Movie  1178766975
670   The Lord of the Rings: The Return of the King  1024888979
580                                           Joker  1019458282
610                                         Aquaman   988528393
418                         The Fate of the Furious   986005118
1085                                 Captain Marvel   979416446

In [244]:
#genre has the highest sum popularity score
genre_popularity = movies.groupby('genres')['popularity'].sum().sort_values(ascending=False).head(10).round(2)
genre_popularity

genres
Drama          58115.94
Comedy         44302.24
Action         40560.73
Horror         35413.30
Animation      23571.17
Thriller       15442.64
Romance        12320.29
Documentary    11587.22
Adventure      10828.54
Crime          10741.99
Name: popularity, dtype: float64

In [245]:
#genre has the highest sum vote count
genre_vote_count = movies.groupby('genres')['vote_count'].sum().sort_values(ascending=False)
genre_vote_count

genres
Drama              1340443
Action             1252437
Comedy             1117562
Adventure           584689
Horror              484936
Animation           360231
Thriller            347602
Crime               345391
Science Fiction     311206
Fantasy             283823
Romance             197672
Family              146291
Mystery              97370
Documentary          78341
War                  40657
Western              39929
Music                28986
History              25216
TV Movie             15074
Name: vote_count, dtype: int64

In [246]:
#language has the highest popularity score for movies
language_popularity = movies.groupby('original_language')['popularity'].sum().sort_values(ascending=False)
language_popularity

original_language
en    211303.717
ja     16309.972
es     14104.976
fr     12086.371
ko      7847.415
         ...
se         2.436
lb         2.236
sw         2.206
az         2.174
or         2.026
Name: popularity, Length: 83, dtype: float64

In [247]:
#the total revenue generated by movies in each genre
total_revenue_by_genre = movies.groupby('genres')['revenue'].sum().sort_values(ascending=False)
total_revenue_by_genre

genres
Action             58491327615
Comedy             38221060960
Drama              32608163744
Adventure          27719903834
Animation          18320328249
Fantasy            13425063611
Horror             10873522183
Science Fiction    10062972452
Crime               8786216828
Thriller            8432519690
Family              6751171293
Romance             4964166395
Mystery             1989017357
War                 1316756894
Music                948432462
Western              769884474
History              591406480
Documentary          583328967
TV Movie              55728000
Name: revenue, dtype: int64

In [248]:
#top 10 movies with the highest budget
top_10_budget_movies = movies.sort_values('budget', ascending=False).head(10)[['title', "budget"]]
top_10_budget_movies

                                               title     budget
97533                                           DeAD  500000000
317    Mission: Impossible - Dead Reckoning Part One  290000000
337                                    The Lion King  260000000
745                                     Spider-Man 3  258000000
247     Harry Potter and the Deathly Hallows: Part 1  250000000
868                                      John Carter  250000000
72                            Thor: Love and Thunder  250000000
183           Harry Potter and the Half-Blood Prince  250000000
26                    Guardians of the Galaxy Vol. 3  250000000
546        The Hobbit: The Battle of the Five Armies  250000000

In [249]:
#the average budget for movies released in each year
avg_budget_by_year = movies.groupby('release_year')[['budget']].mean().sort_values('budget', ascending=False).head(10)
avg_budget_by_year

                    budget
release_year
2023          7.495338e+06
1997          6.339903e+06
2001          6.079821e+06
1998          6.068609e+06
2004          5.555949e+06
2002          5.322581e+06
2000          5.240537e+06
2005          5.194781e+06
1996          5.183032e+06
2010          5.160979e+06

In [250]:
#the movies with a vote average greater than 8 and a budget over $100 million
movies_high_rated_high_budget = movies[(movies['vote_average'] > 8) & (movies['budget'] > 100000000)][['title' , 'revenue']]
movies_high_rated_high_budget

                                             title     revenue
26                  Guardians of the Galaxy Vol. 3   821801000
184   Harry Potter and the Deathly Hallows: Part 2  1341511219
283                                   Interstellar   701729206
783                     Terminator 2: Judgment Day   520000000
1168                                     Gladiator   465361176

In [251]:
#the average budget and revenue for movies in each original language
sum_budget_by_language = movies.groupby('original_language')[['budget']].mean().sort_values("budget",ascending=False).head(5)
sum_budget_by_language

                         budget
original_language
se                 4.450000e+06
en                 4.155203e+06
zh                 2.947847e+06
kk                 2.166667e+06
ca                 2.106667e+06

In [252]:
#the total profit each year (revenue - budget)
total_profit_each_year = movies.groupby('release_year')[['profit']].sum().sort_values('profit', ascending=False).head(10)
total_profit_each_year

                  profit
release_year
2017          7897879417
2019          7653602405
2016          7194549360
2015          7038349215
2018          6802055855
2011          6438243558
2022          6017638346
2013          5969613206
2014          5924710670
2010          5649541273

In [253]:
#the total profit each genre (revenue - budget)
total_profit_each_genre = movies.groupby('genres')[['profit']].sum().sort_values('profit', ascending=False).head(10)
total_profit_each_genre

                      profit
genres
Action           35330886481
Comedy           22744071604
Drama            17867746053
Adventure        17349208397
Animation        12651580488
Fantasy           9250418851
Horror            7179675343
Science Fiction   5722838493
Crime             4649435523
Thriller          4340289341

In [254]:
movies.to_csv('movies_updated.csv', index=False)